---
import Blocks from '@components/helpers/Blocks.astro'
import { Logo } from 'hommeui'

import { getEntryBySlug } from 'astro:content'
import Layout from '@layouts/Layout.astro'


const page = await getEntryBySlug('pages', 'index')
---
<Logo src="/logo.svg" alt="my company"></Logo>

<h1 class="px-lg py-2xl">Hello wereld</h1>


<Layout seo={page.data.seo}>
  <!-- <Logo src="/logo.svg" alt="My company"></Logo> -->
  <Blocks pageData={page.data} />

  <!-- <Button colorrr={10} test="hello">Alternative</Button> -->

</Layout>
