---
import { getEntryBySlug } from 'astro:content'
import Layout from '@layouts/Layout.astro'

const page = await getEntryBySlug('pages', 'index')
---

<Layout seo={page.data.seo}>
  <!-- Place components here -->
  Hello there
  <div class="bg-blue-500 bg-test">Hello</div>
  <div class="bg-test4">Hello</div>
</Layout>
