---
import site from '@data/site'
import Head from '@components/helpers/Head.astro'
import '@unocss/reset/tailwind.css'

const { seo } = Astro.props
---

<!DOCTYPE html>
<html
  lang={site.lang}
  class="light medium hue-base"
>
  <head>
    <Head {seo} />
  </head>
  <body>
    <slot />
    <style>
      /* Temporary, untill we cleaner solution. Needed to set the browsers scrollbar color theme */
      .dark {
        color-scheme: dark;
      }
      .light {
        color-scheme: light;
      }
    </style>
  </body>
</html>
